<div class="container">
    <div class="row">
        <div class="col">
             <h3>Add new User</h3>
            <form  [formGroup]="myForm" (ngSubmit)="UpdateUser(myForm.value)" >
                <input type="hidden" [formControl]="myForm.controls['id']"/>

                <div class="form-group">
                    <label for="name" class="label-control">Name: </label>
                    <input id="name" type="text" class="form-control" [formControl]="myForm.controls['name']"/>
                    <div *ngIf="myForm.controls['name'].hasError('required')" class="alert-danger">Name Must be filled</div>
                    <div *ngIf="myForm.controls['name'].hasError('minlength')" class="alert-danger">Length must be at least 4 characters</div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="label-control" >Last Name: </label>
                    <input id="lastName" type="text" class="form-control" [formControl]="myForm.controls['lastName']"/>
                    <div *ngIf="myForm.controls['lastName'].hasError('required')" class="alert-danger">Name must be filled</div>
                    <div *ngIf="myForm.controls['lastName'].hasError('minlength')" class="alert-danger">Length  must be at least 4 characters</div>


                </div>
                <div class="form-group">
                    <label for="cpf" class="label-control" >CPF: </label>
                    <input  id="cpf" type="text" class="form-control" [formControl]="myForm.controls['cpf']"/>
                    <div *ngIf="myForm.controls['cpf'].hasError('required')" class="alert-danger">CPF must be filled</div>
                    <div *ngIf="myForm.controls['cpf'].hasError('minlength')" class="alert-danger">Length  must be at least 6 characters</div>
                    <div *ngIf="myForm.controls['cpf'].hasError('maxlength')" class="alert-danger">max length must be 9 characters</div>
                </div>
                <hr>
                 <input type="submit" [disabled]="!myForm.valid"  class="btn btn-primary" value="Update"   /><a routerLink="../../list"> |  Back to List</a>
            </form>
        </div>
    </div>
</div>
